body{
overflow-x:hidden;
background-color:#0c111b;
}

.watch>span{
font-size:30px;
font-weight:500;
margin:20px;
color:white !important;
}

.media-row{
flex-wrap: wrap;
display:flex;
flex:1;
}


.media-row:-webkit-scrollbar{
display:none;
}

.watch{
margin:25px;
}