.footer-left>span{
font-size: large;
font-weigth:400;
padding:0 20px 00;
cursor:pointer;
color:rgba(255,255,255,0.8);
margin-top:20px;
padding:20px;
}

.footer-left>span:hover{
color:#1f80e0;
transition:0.3s;
}

.footer{
display:flex;
align-items:center;
padding:30px;
background:#030b17;
justify-content:space-around;
}

.footer-right{
display:flex;
align-items:center;
flex-direction:column;
justify-content:center;
}

a{
text-decoration:none;
}


i{
font-size:xx-large;
margin-left:10px;
}

.github{
color:white;
}

.instagram{
color:#fd6b52;
}

.linkedin{
color:#017eb4;
}

.footer-right>span{
color:# 91919191;
font-size:20px;
padding-bottom:7px;
font-weight:5000;
}

.footer-right>span:hover{
color:white !important;
}