.media{
margin:10px;
transition: transform 100ms;
}

.media>img{
height:97px;
weight:90px;
border-radius:5px;
cursor:pointer;
margin-left:10px;
broder-bottom:4px solid ;

}

.media>img:hover{
transform:scale(1.09);
}